[user]
	name = kirtjMIL
	email = kjeppson@middleburyinteractive.com

[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
excludesfile = /opt/boxen/config/git/gitignore
[push]
	default = matching
